<footer>
    <div>
        <a href="/">Home</a>
        <a href="
        <% if(locals.user){ %>
            /users/profile/<%=locals.user.id%>
        <%} else {%>
            /users/sign-in
        <%}%>
        ">Profile</a>
    </div>
    <div>
        <p>&#169; KinApp.com All right reserved</p>
    </div>
</footer>