        <style>
                .container{
                        width: 100px;
                        margin: auto;
                        /* height: 50px; */
                        background-color: aqua;
                        text-align: center;
                        padding: 10px;
                }
        </style>
        <div class="container">
                <h1><%= user.name %></h1>
                <h3><%= user.email %></h3>
                <button> <a href="/users/sign-out">Sign Out</a></button>
        </div>
