
        <style>
           
            .container{
                width: 60%;
                min-width: 300px;
                height: 80%;
                min-height: 500px;
                margin: auto;
            }
            input, a{
                display: block;
                margin: 2%;
            }
            
        </style>
        
        <div class="container"  >
            <h1><%=title%></h1>
            <form action="/users/create-session" method="post">

                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="password" name="password" id="password" placeholder="password" required>
                <input type="submit" value="Sign In">
                <a href="/users/forgot-password">forgot password?</a>
                <a href="/users/sign-up">Create new accout</a>
            </form>

            <p><a href="/users/auth/google">Google Sign in / Sign up</a></p>
        </div>
    