<div>
    <h1>Password recovery mail has been send to your registered email id</h1>
    <h3>Check you email Inbox <%=user_email%></h3>
    <small>if you don't received any mail check your span/trash folder</small>
</div>