<div>
    <%if(tokenFound && isValidToken){%>
    <div>
        <form action="/users/forgot-password/set" method="POST">
            <h3>Set New Password</h3>
            <input type="email" name="email" id="email" value="<%=user_email%>">
            <input type="password" name="password" id="password" placeholder="password">
            <input type="password" name="confirm_password" id="confirm_password" placeholder="confirm password">
            <input type="submit" value="Submit">
        </form>
        
    </div>
    
    <%}%>
    <%if( tokenFound && !isValidToken){%>
        <div>
            <h4>Session Expired go to <a href="/">home</a></h4>
        </div>

    <%}%>
    <%if( !tokenFound && !isValidToken){%>
        <div>
            <h4>Invalid request go to <a href="/">home</a></h4>
        </div>

    <%}%>


</div>