<div>
    <h1>Reset Password</h1>
    <form action="/users/forgot-password/send-email" method="post">
        <label for="email">Enter Register Email</label>
        <input type="email" name="email" id="email" placeholder="email">
        <input type="submit" value="Reset Password">
    </form>
</div>